<!-- We don't have justify-self in bootstrap to move just the footer down in the main axis, so we use mt-auto instead -->
<footer class="footer bg-dark py-2 mt-auto">
    <div class="container">
        <span class="text-muted">&copyYelpCamp 2021</span>
    </div>
</footer>